<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      
      >

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	 <!-- Bootstrap core CSS -->

	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/css/icheck/black.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/css/custom.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/css/animate.min.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/fonts/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/fonts/css/font-awesome.min.css" />
	 

</ui:composition>