<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
	<h:head>
	<ui:include src="header.xhtml" />
	<title><ui:insert name="title"></ui:insert></title>
	</h:head>
	<body class="nav-md">
	<div class="container body">
	<div class="main_container">
	<ui:include src="navs.xhtml" />
	<ui:insert name="content"></ui:insert>
	</div>
	</div>
	<ui:include src="footer.xhtml"/>
	</body>

</html>